<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VMM-neoforge-v1.21.5-v1.21.8"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" &quot;@C:\\Programming\\VMM Rebuild\\VMM-neoforge-v1.21.5-v1.21.8\\build\\moddev\\clientRunProgramArgs.txt&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" &quot;@C:\\Programming\\VMM Rebuild\\VMM-neoforge-v1.21.5-v1.21.8\\build\\moddev\\clientRunVmArgs.txt&quot; &quot;-Dfml.modFolders=veinminermod%%C:\\Programming\\VMM Rebuild\\VMM-neoforge-v1.21.5-v1.21.8\\bin\\main&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Programming\VMM Rebuild\VMM-neoforge-v1.21.5-v1.21.8\run\client"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>